<% provide(:title, "Edit information") %>
<% provide(:button_text, "Save changes") %>
<h1> Edit my information </h1>
<div class="container">
    <div class="col-md-6 offset-md-3">
        <%= render 'users/form' %>
    </div>
</div>