<% provide(:title, 'Users List')%>
<h1> All users </h1>
<div class="container">
    <div class="row">
        <div class= "col-md-10 offset-md-1">
            <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
            <ul class="users">
                <% @users.each do |user| %>
                    <li>
                        <%= link_to user.name, user_path(user) %>
                    </li>
                    
                <% end %>
            </ul>
            <%= will_paginate @users %>
        </div>
    </div>
</div>