<% provide(:title, @user.name)%>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="info">
                <strong> Email: </strong> <%= @user.email %>
                <br>
                <% if logged_in? %>
                    <%= link_to "Edit information", edit_user_path(@user) %>
                <% end %>
            </div>
            <div class="name">
                <h2> <%= @user.name %> </h2>
            </div>
        </div>
    </div>
</div>