<% provide(:title, t(:courses)) %>
<h1> <%= t :courses %> </h1>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <%= link_to t(:add_course), new_course_path, class: "btn btn-primary add-link" %>
      <br>
    </div>
  </div>
</div>
