<% provide(:title, 'Courses')%>
<h1> Courses List </h1>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <%= link_to "Add new courses", new_course_path, class: 'add-link' %>
            <br>
        </div>
    </div>
</div>