// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-md-10
{
  margin: auto;
}
.courses
{
  list-style-type: none;
  float: left;
  width: 100%;
  li
  {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}
.course-info
{
  float: left;
}
.course-edit
{
  float: right;
}
