// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lessons
{
  clear: both;
  margin-top: 50px;
}
.lessons-list
{
  list-style-type: none;
  float: left;
  width: 100%;
  li
  {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}
.lesson-actions
{
  float: right;
}
.lesson-delete-button 
{
  background: transparent;
  color: #007bff;
  border: none; 
  padding: 0!important;
  font: inherit; 
  cursor: pointer;
}
