<footer class="footer">
    <small> Made with Ruby on Rails </small>
    <ul>
        <li>
            <a href="<%= about_path %>"> About </a>
        </li>
        <li>
            <a href="<%= help_path %>"> Help </a>
        </li>
        <li>
            <a href="<%= news_path %>"> News </a>
        </li>
    </ul>
</footer>