<footer class="footer">
    <small> Made with Ruby on Rails </small>
    <ul>
        <li>
            <a href="#"> About </a>
        </li>
        <li>
            <a href="#"> Help </a>
        </li>
        <li>
            <a href="#"> News </a>
        </li>
    </ul>
</footer>